@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kode+Mono:wght@400..700&family=Oswald:wght@200..700&display=swap');

*{
margin: 0;
padding: 0;
}


body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

    .titulo-destaque {
        color:#c80d9fe0 ;
    }

    .apresentacao{
        padding: 5% 15%;
        display: flex;
        align-items: center;
       justify-content: space-between;
    }

    .apresentacao__conteudo{
        width: 615px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .apresentacao__conteudo__titulo{
        font-family: "Kode Mono", monospace;
        font-size: 35px;
    }

    .apresentacao__conteudo__texto{
        font-family: "Kode Mono", monospace;
        font-size: 40px;
    }

    .apresentacao__links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }
.apresentacao__links__subtitulo{
    font-family: "Kode Mono", monospace;
    font-weight: 600;
    font-size: 15px;

}

.apresentacao__links__link{
    /* background-color:cornflowerblue; */
    display: flex;
    justify-content: center;
    border: 2px solid darkblue;
    width: 210px;
    text-align: center;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 21.5px 0px,;
    text-decoration: none;
    color: rgba(190, 4, 190, 0.829);
    font-family: "Kode Mono", monospace;
}

.apresentacao__links__link:hover{
background-color: rgba(248, 8, 204, 0.312)
}

.rodape{
    padding: 24px;
   color: rgba(190, 4, 190, 0.829);
   background-color: rgb(20, 2, 12);
   text-align: center;
   font-family: "Kode Mono", monospace;
   font-size: 15px;
   font-weight: 400;
}
