@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kode+Mono:wght@400..700&family=Oswald:wght@200..700&display=swap');

:root{
 --cor-principal: black;
 --cor-secundaria: rgba(190, 4, 190, 0.829);
 --cor-tercearia:  rgba(248, 8, 204, 0.312);
 --cor--hover : rgba(248, 8, 204, 0.312);

 --fonte-principal:"Kode Mono", monospace;
 --fonte-secundaria:"Kode Mono", monospace;
}
*{
margin: 0;
padding: 0;
}


body{
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: #F6F6F6;

}
.cabecalho {
padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__links {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

    .apresentacao{
        padding: 5% 15%;
        display: flex;
        align-items: center;
        gap: 100px;
    }

    .apresentacao__conteudo{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .apresentacao__conteudo__titulo{
        font-family: var(--fonte-principal);
        font-size: 2.25rem;
    }

    .titulo-destaque {
        color:var(--cor-tercearia) ;
    }


    .apresentacao__conteudo__texto{
        font-family: var(--fonte-principal);
        font-size: 1.875rem;
    }

    .apresentacao__links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }
.apresentacao__links__subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 0.938rem;

}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    border: 2px solid var(--cor-secundaria);
    width: 210px;
    text-align: center;
    border-radius: 16px;
    font-size: 1.25rem;
    font-weight: 600;
    padding-top: 21.5px 0px,;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
}

.apresentacao__imagem{
width:75%

}

.apresentacao__links__link:hover{
background-color: var(--cor--hover)
}

.rodape{
    padding: 24px;
   color: var(--cor-secundaria);
   background-color: rgb(20, 2, 12);
   text-align: center;
   font-family: var(--fonte-principal);
   font-size: 0.938rem;
   font-weight: 400;
}

.apresentacao__conteudo__texto2{
    font-family: var(--fonte-principal);
    font-size: 0.938rem;
}

@media (max-width:1200px){
    .cabecalho{
padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 10%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    
}